<%= react_component('Person',data: @persons, pollInterval: 2000) %>



<center>
	<div class="content_show">
		<h1>Information about [<%= @story.title %>]</h1>
		<%= link_to "edit!", edit_story_path(@story.id), class: "btn btn-warning" %>
		<%= link_to "delete!", story_path(@story.id), method: :delete, data: {confirm: "you sure?"}, class: "btn btn-danger" %>
		<h3>Title:   <%= @story.title %></h3>
		<h3>Summary:   <%= @story.summary %></h3>
		<h3>Author:   <%= @story.author %></h3>
		<h3>Url:   <%= @story.url %></h3>
		<br/>

		</div>
</center>

<center>
	<h3>Characters</h3>
	<% @persons.each do |person| %>
		<h4>character_name：<%= person.p_name %></h4>
		character_personality：<%= person.character %>
		<%= link_to "edit!", edit_person_path(person.id), class: "btn btn-warning" %>
		<%= link_to "delete!", person_path(person.id), method: :delete, data: {confirm: "you sure?"}, class: "btn btn-danger" %>
	<% end %>
</center>

	<!--以下新しいperson作成フォーム-->
<center>
	<h3>Make new character!</h3>
	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for(@person) do |f| %>
				<%= f.label :story_id%>
				<%= f.text_field :story_id, readonly: true %>

	      <%= f.label :p_name %>
	      <%= f.text_field :p_name, placeholder: "nagao norihiro" %>

	      <%= f.label :character %>
	      <%= f.text_field :character, placeholder: "strong" %>

	      <%= f.submit "Create new person!", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</center>
